.container {
    width: 845px;
    height: auto;
    border: 2px solid rgb(142, 142, 142);
    margin: auto;
    background-color: rgb(206, 206, 206);
}
body {
    background-color: rgb(140, 140, 140);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: rgb(6, 6, 6);
    background-image: url(img/webb-dark.png);
}
.header {
    padding: 20px;
    padding-bottom: 5px;
}
.header .judul {
    letter-spacing: 1px;
    text-align: center;
    font-size: 30px;
    color: rgb(156, 156, 156);
    font-family: "Montserrat", sans-serif;
}
.header ul li {
    display: inline-block;
    margin-top: 0px;
    margin-right: 91px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.header a {
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.header a:hover {
    color:aquamarine;
}
.hero {
    height: 350px;
    background-image: url(img/jakub-gigler-JYENTG7AhBg-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 220px;
    padding: 24px;
    background: #faf5ff;
    border-right: 1px solid #ddd;
}
.content {
    margin-right: 240px;
    padding: 24px;
}
ul.nav {
    margin: 0;
    padding-right: 18px;
}
.container {
    width: 100%;
    text-align: center;
}
ul.nav {
    padding-right: 20px;
    padding-left: 0;
    display: inline-block;
    text-align: left;
}
.content h2 {
    font-size: 28px;
    font-weight: bold;
    font-family: "Montserrat",sans-serif;
}
.content .penulis {
    font-size: 11px;
    margin-top:-5px;
}
.content p {
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.content .penulis a {
    color: aquamarine;
    text-decoration: none;
}
.footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(149, 149, 149);
    font-size: 12px;
    color: white;
    font: "Montserrat", sans-serif;
}
figure {
    margin: 20px auto;
    text-align: center;
}
figure img {
    width: 100px;
    border-radius:10px;
    box-shadow: 0px 4px 10px rgba(143, 143, 143, 0.25);
}
figcaption {
    font-size: 12px;
    color: rgba(0, 0, 0,75);
    margin-top: 8px;
    font-style: italic;
}